{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "helpers": true,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "transform-class-properties",
    "transform-es2015-spread",
    "transform-object-rest-spread",
    "external-helpers",
    "transform-react-jsx"
  ]
}
