*.iml
.idea/
.vscode/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
npm-debug.log
dist
*.json.gz
**/runtime.js
yarn*
**/frame/index.js
node_modules/
lib/
